In [2]:
import pandas as pd

In [5]:
df = pd.read_csv('ClientesBAC_Activos.txt', sep=";")

In [6]:
df

,FechaCorte,SegmentoDesc,SBAN,NumeroDoctoIdentificacion,TipoDoctoIdentificacionCD,SexoDesc,Edad,EstadoCivilDesc,ProfesionDesc,ClienteFallecido,...,NumeroCDAT,SaldoCDAT,SaldoTotalCartera,NumeroOperacionesCartera,NumeroProductosCaptacion,SaldoTotalCaptaciones,NumCreditosVencidos,NumeroTCVencidas,NumOperacionesCarteraVencida,SaldoTotalCarteraVencida
1,2020-09-30,AGROPECUARIA,2104,25297-33112104,CC,MASCULINO,118.0,NaN,NaN,S/D,...,0,0.0,0.0,0,2,5016932.75,0,0,0,0
2,2020-09-30,AGROPECUARIA,70,219582-780370,CC,MASCULINO,36.0,SOLTERO,SIN PROFESION,S/D,...,0,0.0,0.0,0,2,15068450.16,0,0,0,0
3,2020-09-30,AGROPECUARIA,4840,248440-12114840,CC,MASCULINO,41.0,CASADO,SIN PROFESION,S/D,...,0,0.0,5999542.0,1,1,4526.00,0,0,0,0
4,2020-09-30,AGROPECUARIA,6048,516132-22586048,CC,MASCULINO,43.0,SOLTERO,SIN PROFESION,S/D,...,0,0.0,5674272.0,2,1,10135.00,0,0,0,0
5,2020-09-30,AGROPECUARIA,2180,718406-41302180,CC,FEMENINO,43.0,SOLTERO,SIN PROFESION,S/D,...,0,0.0,0.0,0,2,3871.70,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
499996,2020-09-30,AGROPECUARIA,6038,728316-91926038,CC,FEMENINO,42.0,UNION LIBRE,SIN PROFESION,S/D,...,0,0.0,9809080.0,1,1,1.00,0,0,0,0
499997,2020-09-30,AGROPECUARIA,1351,309620-60561351,CC,FEMENINO,67.0,CASADO,SIN PROFESION,S/D,...,0,0.0,0.0,0,2,912349.00,0,0,0,0
499998,2020-09-30,AGROPECUARIA,3178,521494-06533178,CC,MASCULINO,48.0,SEPARADO,SIN PROFESION,S/D,...,0,0.0,10428570.0,2,1,926.00,0,0,0,0
499999,2020-09-30,AGROPECUARIA,8110,985193-52738110,CC,FEMENINO,53.0,SOLTERO,SIN PROFESION,S/D,...,0,0.0,0.0,0,3,13639.00,0,0,0,0
500000,2020-09-30,AGROPECUARIA,4209,614541-36384209,CC,MASCULINO,62.0,DIVORCIADO,SIN PROFESION,S/D,...,0,0.0,8232603.0,1,1,1118.00,0,0,0,0